
/*---------------------------*/
/* Orri-oinarentzako. */
/*-------------------------*/
.content{
    width: 90%; 
    margin: auto;
    margin-bottom: 5%; 
    padding: 5% ;
}

#biblio{
  width: 100%; 
  height: fit-content;
  margin: auto;
}

#biblio .text{
  width: 90%;
  height: fit-content;
}

.content h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
}

.fixed_footer{
  background-color:#ffbf0e;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.fixed_footer p{
  font-family: 'Open Sans', sans-serif;
  color: #696969;
  text-align: center;
  font-size: 2em;
  font-weight: bold
}